<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<main>
    <div class="row">
        <div class="col-sm-6">

            <div th:if="${error}" class="alert alert-danger">Anmeldung ungültig</div>

            <form th:action="@{/login}">
                <div class="mb-3">
                    <input type="text" class="form-control" name="username" id="username" required
                           placeholder="Benutzername">
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" name="password" id="password" required
                           placeholder="Passwort">
                </div>
                <button class="btn btn-success">Login</button>
            </form>
        </div>
    </div>

</main>


</body>
</html>